<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   {% endwith %}
  <form class="form-labels-on-top" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form-title-row">
                <h1>Setup a Giveaway</h1>
        </div>
        <div class="form-row">
            <label>
                <span>Upload Image</span>
                {{ form.photo }}
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Title of GA</span>
                {{ form.gatitle }}
            </label>
        </div>
        <div class="form-row">
                {{ form.gatype }}
            </div>
        <div class="form-row">
                {{ form.description }}
        </div>
        <div class="form-row">
            <button type="submit">Continue</button>
        </div>
  </form>
{% endblock %}